.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.logoutButton {
  background-color: white;
  color: #ba7ce3;
  border: 1px solid #e6e6e6;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}